* {
	margin:0; 
	padding: 0;
}
.header {
	width: 100%;
	height: 700px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}
.header img {
	height: 700px;
	width: 100%;

}
.img-responsive {
	width: 100%;
}
.movie img{
	position: relative;
	margin: 6px;
}
.movie a img {
	width: 100%;
	height: auto;
	max-height:650px;
}
.goAway {
	display: none!important;
}
.nav {
	min-height: 56px;
	width: 100%;
	position: fixed;
	box-shadow: 0 2px 8px #868686;
	z-index:9999;
	background-color:#fff;
}
.margin-fix {
	
}