.movie {
	margin:6px;
}
.movie img {
	box-shadow: 0px 2px 4px #000;
}
.slick-arrow {
	display: block;
    position: absolute;
    height: 230px;
    top: 0;
    border: none;
    background: #fff;
    opacity: .1;
    width: 30px;
}
.slick-arrow:hover {
 content: " ";
 opacity: .7;
 background: #fff;
}
.slick-next {
right: -8px;
}

.slick-prev {
left: -8px;
}
@media screen and (max-width: 478px){
	
	}
