.movie {
	margin: 6px;
}
.movie img {
	box-shadow: 0px 2px 4px #000;
}

.slick-next {
    right: -15px;
}


@media screen and (max-width:401px) {
    .slick-arrow {
        display: none !important;
    }
    h3 {
        margin-top: 4px;
        margin-left: 5px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .timeline {
        position: absolute;
        margin-left: -7px;
    }
    .timeline-dot {
        background-color: #8CB5D7;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position:absolute;
        z-index:999999;
        display:flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #fff;
    }
    .timeline-dot img {
        height:22px;
        width:22px;
    }
    .timeline-line {
        min-height:581px;
        width:5px; 
        margin-left:15px;
        position:absolute;
        background-color: #8CB5D7;
    }
    #second {
        margin-top: 284px;
        background-color: #CBE2CC;
    }
}

@media screen and (min-width: 478px){ /*++++++++++ mobile ++++++++++++*/
	.slick-arrow {
        display: block;
        position: absolute;
        height: 306px;
        top: 6px;
        border: none;
        background: #fff;
        opacity: .2;
        width: 50px;
        transition: 1s;
        z-index: 99;
    }
    .slick-arrow:hover {
     content: " ";
    opacity: .7;
    background: #fff;
    z-index: 99;
    }
}

@media screen and (min-width: 1024px){ /*++++++++++ smallest desktop ++++++++++++*/
    .slick-arrow {
        display: block;
        position: absolute;
        height: 352px;
        top: 6px;
        border: none;
        background: #fff;
        opacity: .2;
        width: 50px;
        transition: 1s;
        z-index: 99;
    }
    .slick-arrow:hover {
     content: " ";
    opacity: .7;
    background: #fff;
    z-index: 99;
    }
}
@media screen and (min-width: 1099px){ /*++++++++++ smallest desktop ++++++++++++*/
    .slick-arrow {
        display: block;
        position: absolute;
        height: 315px;
        top: 6px;
        border: none;
        background: #fff;
        opacity: .2;
        width: 50px;
        transition: 1s;
        z-index: 99;
    }
    .slick-arrow:hover {
     content: " ";
    opacity: .7;
    background: #fff;
    z-index: 99;
    }
}
@media screen and (min-width: 1199px){ /*++++++++++ smaller desktop ++++++++++++*/
    .slick-arrow {
        display: block;
        position: absolute;
        height: 282px;
        top: 6px;
        border: none;
        background: #fff;
        opacity: .2;
        width: 50px;
        transition: 1s;
        z-index: 99;
    }
    .slick-arrow:hover {
     content: " ";
    opacity: .7;
    background: #fff;
    z-index: 99;
    }
}
@media screen and (min-width: 1279px){ /*++++++++++ smaller desktop ++++++++++++*/
    .slick-arrow {
        display: block;
        position: absolute;
        height: 265px;
        top: 6px;
        border: none;
        background: #fff;
        opacity: .2;
        width: 50px;
        transition: 1s;
        z-index: 99;
    }
    .slick-arrow:hover {
     content: " ";
    opacity: .7;
    background: #fff;
    z-index: 99;
    }
}
@media screen and (min-width: 1366px){ /*++++++++++ smaller desktop ++++++++++++*/
    .slick-arrow {
        display: block;
        position: absolute;
        height: 283px;
        top: 6px;
        border: none;
        background: #fff;
        opacity: .2;
        width: 50px;
        transition: 1s;
        z-index: 99;
    }
    .slick-arrow:hover {
     content: " ";
    opacity: .7;
    background: #fff;
    z-index: 99;
    }
}

@media screen and (min-width: 1440px){ /*++++++++++ desktop ++++++++++++*/
    .slick-arrow {
        display: block;
        position: absolute;
        height: 297px;
        top: 6px;
        border: none;
        background: #fff;
        opacity: .2;
        width: 50px;
        transition: 1s;
        z-index: 99;
    }
    .slick-arrow:hover {
     content: " ";
    opacity: .7;
    background: #fff;
    z-index: 99;
    }
}
@media screen and (min-width: 1680px){ /*++++++++++ desktop ++++++++++++*/
    .slick-arrow {
        display: block;
        position: absolute;
        height: 493px;
        top: 6px;
        border: none;
        background: #fff;
        opacity: .2;
        width: 50px;
        transition: 1s;
        z-index: 99;
    }
    .slick-arrow:hover {
     content: " ";
    opacity: .7;
    background: #fff;
    z-index: 99;
    }
}

